<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>朋友圈</title>
    <link type="text/css" href="/static/css/main_page.css" rel="stylesheet">
    <style>


    </style>
</head>
<body>

<div class="title">

    <div class="nav-item-bg">
        <a class="nav-item">首页</a>
        <a class="nav-item">通讯录</a>
        <a class="nav-item">发现</a>
        <a class="nav-item">个人中心</a>
    </div>

    <div class="content">

        <form action="{% url 'main:main_page' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file">
            <br>
            <br>
            <input type="submit" value="提交">
        </form>

    </div>




</div>

</body>
</html>